html {
  margin: 0;
}

#canvas {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#button {
  background-color: rgb(22, 22, 22);
  position: absolute;
  text-align: center;
  color: white;
  top: 20px;
  width: 100px;
  height: 40px;
  left: 50%;
  right: 50%;
  
}


#data {
  position: absolute;
  background-color: aqua;
  /* width: 50px; */
  z-index: 100;
}

*{
  overflow:hidden;
}
#gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  --gradient-color-1: #1e1e1e;
  --gradient-color-2: #cbcbcb;
  --gradient-color-3: #171717;
  --gradient-color-4: #585858;
}