html {
  margin: 0;
}

#canvas {
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#button {
  background-color: rgb(22, 22, 22);
  position: absolute;
  text-align: center;
  color: white;
  top: 20px;
  width: 100px;
  height: 40px;
  left: 50%;
  right: 50%;
  
}


#data {
  position: absolute;
  background-color: aqua;
  /* width: 50px; */
  z-index: 100;
}